@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');



* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.title {
    font-size: 45px
}

.greeting {
    background-text: #B0A695;
}

.core-content {
    display: flex;
}
@media only screen and (max-width: 400px) {
    .core-content {
        flex-direction: column;
    }
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 32px;
    padding-right: 32px;
}

.navigation-container>nav>button {
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to left, #4776E6, #8e54e9);
    cursor: pointer;
    color: white;
    border-radius: 4px;
}

.navigation-container>nav>button:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #4776E6, #8e54e9);
  }

.side-left {
    margin-left:20px;
    /* height: 500px;  */
    width:100%; 
    margin-right:15px;
    border-radius:5%;
    
}

.image {
    border-radius:5%;
    height: 500px; 
    width:100%; 
    background-size:cover;
    background-position: center;
}


.content>header {
    text-align: center;
}

.content>header>h3 {
    color: grey;
    margin-bottom:50px;
}


.our-package-container {
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
    color: white;
    align-content: center;
    background: linear-gradient(45deg, #4776E6, #8e54e9);
    height: 100px;
}


.content-container {
    display: flex;
}

.title-right {
    text-align: center;
}


.side-right {
    margin-right: 20px;
    width: 100%;
    border-radius: 5%;
}
.side-right>h2 {
    margin-top: 50px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background: linear-gradient(to left, #4776E6, #8e54e9);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #4776E6, #8e54e9);
  }
  
  .form {
    border-radius: 5px;
    padding: 20px;
  }

footer {
    margin-top: 50px;
    text-align: center;
}

.my-name {
    color: black;
}
.my-name:hover {
    color:purple;
    letter-spacing: 0.5px;
  }

.img-footer {
    width: 300px;
    height: 300px;
}

.credit {
    margin-top: 10px;
    font-size: 24px;
    text-align: start;
    color: white;
    align-content: center;
    background: linear-gradient(45deg, #4776E6, #8e54e9);
    height: 100px;
}
.credit>h6 {
    margin-left:30px;
}